<div class="profile-container">
    <div class="header">
      <div class="profile-picture"></div>
      <div class="profile-name">Isaí Julián González Gaspar</div>
    </div>
    <div class="about">
      <div class="title">Acerca de mí</div>
      <div class="description">T.S.U Área Desarrollo de Software.</div>
    </div>
    <div class="posts">
      <div class="post">
        <div class="post-title">Actividades Favoritas</div>
        <div class="post-content">Escuchar canciones de diferentes generos, Además de dibujar o ver videos de ilustraciones</div>
      </div>
      <div class="post">
        <div class="post-title">Materiales de Arte Favoritos</div>
        <div class="post-content">
            <ul>
                <li>Prismacolor Premier: Estos colores son muy caros porque son profesionales, he tenido unos en persona y son muy bonitos</li>
                <li>FaberCastell: Muchos de los materiales de esta marca son de gama alta, además de ser elegantes</li>
                <li>Escritorios: Cuando veo videos de ilustraciones me gusta ver como las personas tienen escritorios grandes y organizados, me inspira incluso a estuidar</li>
            </ul>
        </div>
      </div>

    </div>
  </div>
  